body{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 100px auto 100px;
    gap: 5px;
}
header{
    background-color: salmon;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
main{
    background-color: sandybrown;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
footer{
    background-color: seagreen;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}